
<h2 style="text-align: center;text-decoration: underline ;margin-top: 2.5%; margin-bottom: 2.5%"> Contact Us </h2>

<div class="row">
  <div class="column">
    <div class="card" style="width: 100%">
      <img src="../../assets/img_avatar.png" alt="Liam" style="width:100%">
      <div class="container" style="width: 100%">
        <h2>Liam de Beer</h2>
        <p class="title">Developer</p>
        <p></p>
        <p>liamdebeer@gmail.com</p>
        <p><a href = "mailto:liamdebeer@gmail.com" class="button">Contact</a></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card" style="width: 100%">
      <img src="../../assets/img_avatar.png" alt="Tom" style="width:100%">
      <div class="container" style="width: 100%">
        <h2>Tom Scoles</h2>
        <p class="title">Developer</p>
        <p></p>
        <p>tomrscoles@gmail.com</p>
        <p><a href = "mailto:tomrscoles@gmail.com" class="button">Contact</a></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card" style="width: 100%">
      <img src="../../assets/img_avatar.png" alt="Harry" style="width:100%">
      <div class="container" style="width: 100%">
        <h2>Harry Pirrit</h2>
        <p class="title">Developer</p>
        <p></p>
        <p>harry.pirrit01@gmail.com</p>
        <p><a href = "mailto:harry.pirrit01@gmail.com" class="button">Contact</a></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card" style="width: 100%">
      <img src="../../assets/img_avatar.png" alt="Keiran" style="width:100%">
      <div class="container" style="width: 100%">
        <h2>Keiran Patel</h2>
        <p class="title">Developer</p>
        <p></p>
        <p>KPPatel789@gmail.com</p>
        <p><a href = "mailto:KPPatel789@gmail.com" class="button">Contact</a></p>
      </div>
    </div>
  </div>
</div>
