<form *ngIf="showForm" (submit)="setPassword()" class="form">
  <div class="form-group">
  <label for="passwordInput">Password: </label>
  <input id="passwordInput" class="form-control" name="passwordInput" type="password" [(ngModel)]="password">
</div>
<div class="form-group">
  <label for="confirmPasswordInput">Confirm password: </label>
  <input id="confirmPasswordInput" class="form-control" name="confirmPasswordInput" type="password" [(ngModel)]="confirmPassword">
</div>
<div class="row">
  <div class="col-8"></div>
  <div class="col-4">
    <button type="submit" class="btn btn-primary custom">Confirm</button>
  </div>
</div>
</form>
  <p *ngIf="message">{{message}}</p>